:root {
    --background-color: #2B2730;
    --main-color: #6554AF;
    --secondary-color: #9575DE;
    --accent-color: #E966A0;
    --text-color: #fff8f4;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

canvas {
    background-color: white;
}

.border {
    border: 1px solid black;
}

button {
    border: 0px var(--main-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 8px;
}